.user-panel {
    display: flex;
    flex-direction: column;
    width: 600px;

    background-color: #fffde7;

    border-radius: 16px;
    padding: 16px;
    margin: 64px 16px;

    -webkit-box-shadow: 4px 4px 28px 12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 28px 12px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 28px 12px rgba(66, 68, 90, 1);

    overflow: hidden;
    transition: height 0.5s ease-out;
    height: auto;
}


.wallet-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &__chain-id {
        background-color: var(--mui-palette-secondary-light);
    }

    &__account {
        background-color: var(--mui-palette-primary-light);
    }
}



.get-results,
.results-chart {
    margin-top: 16px;
}
