html {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ffffffaa #00bcd4;
}

.app {
    background-color: #00bcd4;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
